$font : sans-serif;
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif
}
.head-section {
    width: 100%;
    height: 700px;
    background-color: #0BCEAF;
    background-size: cover;
 

}
.head-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 150px;
    @media screen and (max-width:1024px) {
        padding-top: 50px;
        gap: 30px

    }
    @media screen and (max-width:920px) {
       flex-direction: column;
       text-align: center;
       gap: 20px;


    }
    

}
.head-img {
    &__img  {
        border-radius: 50%;
        @media screen and (max-width:550px) {
            height: 200px;
        }
        @media screen and (max-width:420px) {
            height: 200px;
    
        } 

    }


    &__img:hover {
        box-shadow: 10px 10px 10px 10px gold;
        
    }
}
.text-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__few-text {
        color: white;
        font-size: 25px;
        font-family: $font;
        font-style: normal;

}
 &__fullname  {
     font-family: sans-serif;
     font-size: 70px;
     font-style: initial;
     color: white;
   
      @media screen and (max-width:550px) {
         font-size: 30px;
    }
     @media screen and (max-width:420px) {
        font-size: 30px
    }
 }
}
// button  head section 
.button-head {
    &__btn  {
        width: 200px;
        height: 50px;
        background: #0BCEAF;
        border:  1px solid white;
        border-radius: 50px;
    }
    &__btn:hover {
        background: white;
    }
    &__link {
        color: white;
        font-size: 17px;
        font-family: $font;

    }
     &__link:hover {
         color: black;
     }
}

// about section 
.about {
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     height: 550px;
     gap: 30px;
     @media screen and (max-width:912px) {
        height: 1800px;
        margin-top: -600px;
        
    }
    
     &__title {
         font-size: 50px;
         font-family: $font;
         color: #0BCEAF;
         padding-bottom: 30px; 
         @media screen and (max-width:912px) {
            padding-bottom: 10px;
            font-size: 30px;
        }
 

     } 
     &__text {
         color: #6c757d;
         font-family: $font;
         font-size: 18px;
         line-height: 1.650;
         text-align: center;
         @media screen and (max-width:912px) {
             font-size: 14px;
            
        }
        @media screen  and (max-width:770px){
            font-size: 13px;
            
        }
        @media screen  and (max-width:540px){
            text-align: center;
            font-size: 12px;
            
        }
        @media screen  and (max-width:415px){
            font-size: 12px;
            
        }
        @media screen  and (max-width:400px){
            font-size: 11px;
            
        }

     }
}
.button {
    &__btn {
        width: 600px;
        height: 50px;
        border:  1px solid #0BCEAF;
        background: white;
        border-radius: 50px;
          @media screen and (max-width:912px) {
           width: 400px;
                
         }
         @media screen and (max-width:770px) {
            width: 300px;
            height: 30px;
                 
          }
          @media screen  and (max-width:400px){
            width: 200px;
            
        }

          @media screen  and (max-width:350px){
            width: 200px;
            
        }

    }
    &__btn:hover {
        background-color: #0BCEAF;
        
    }
    &__link:hover {
        color: #6c757d;

    }
    &__link {
        color: #0BCEAF;
        font-size: 17px;
        font-family: $font;
        text-decoration: none;
        @media screen and (max-width:912px) {
            font-size: 15px;
            
            
        }
        
        
    }
}
// project 
.cotent-protofilo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 700px;
    @media screen  and (max-width:1500px) {
        height: 2000px;
        
    }
    @media screen and(max-width:1024px) {
        height: 2000px;
        
    }
    @media screen and (max-width:912px) {
        height: 1800px ;
        margin-top: -600px;

        
    }
    @media screen  and (max-width:912px){
        
    }
   
}
.image-one {
    width: 400px;
    height: 250px;
    border : 5px solid #0BCEAF;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 10px 10px 10px 10px gainsboro;
    @media screen  and (max-width:420px){
        width: 300px
    }
   

}


.image-two {
    width: 400px;
    height: 250px;
    border : 5px solid #0BCEAF;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 10px 10px 10px 10px gainsboro;
    @media screen  and (max-width:420px){
        width: 300px
    }
}
.imag-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media screen  and (max-width:1500px) {
        flex-direction: column;
        
    }
    @media screen  and (max-width:1024px) {
        flex-direction: column;
        
    }
    
   

}
.protofilo-title {
    &__title{
         font-size: 50px;
         font-family: $font;
          color: #0BCEAF;
          font-weight: bold;
          @media screen  and (max-width:1024px){
            font-size: 30px
            
        }
          
    }
}
// button section in protfilo section 
.btn-protfilo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__btn {
        width: 100px;
        height: 30px;
        background: white;
        border:1px solid #0BCEAF;
        border-radius: 20px;
        @media screen  and (max-width:420px){
            width: 80px
        }
        &__link {
            @media screen  and (max-width:420px){
                font-size: 10px;
            }
        }
    }
    
    
}
// skill section 
.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 20px;
}
.skill-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;

}
.title-skill {
    &__title {
        color: #0BCEAF;
        font-size: 50px;
        font-family: $font;
        font-weight: bold;
        @media screen  and (max-width:1024px){
            font-size: 30px
            
        }
        
    }
}
// button skill section 
.btn-skill {
    width: 400px;
    height: 30px;
    background: gainsboro;
    border: gainsboro 1px solid;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #0BCEAF;
    @media screen  and (max-width:912px){
        width: 300px;
        
    }
    @media screen  and (max-width:770px){
        width: 200px;
        
    }
    @media screen  and (max-width:550px){
        width: 200px;
        
    }
    @media screen  and (max-width:450px){
        width: 200px;
        
    }
    @media screen  and (max-width:400px){
        width: 100px;
        
    }

}  
// form section 
.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 600px;
    @media screen  and (max-width:912px){
        height: 1200px;
        margin-top: -400px;

        
    }
    @media screen  and (max-width:850px){
        height: 900px;
        margin-top: -200px;

        
    }

}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @media screen  and (max-width:850px){
        
    }
}
.form-title {
    color: #0BCEAF;
    font-size: 50px;
    font-family: $font;
    font-weight: bold;
    @media screen  and (max-width:1024px){
        font-size: 30px
        
    }

}
.form-input {
    &__inp {
        width: 600px;
        height: 50px;
        border: 1px solid #6c757d;
        border-radius: 30px;
        padding-left: 20px;
        @media screen  and (max-width:850px){
            width: 300px;
            
        }

    }
   
}
.textarea {
    width: 600px;
    height: 200px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 30px;
    padding-top: 10px;
    @media screen  and (max-width:850px){
        width: 300px;
        
    }

}
// submit section 
.submit {
    &__sub {
        width: 150px;
        height: 50px;
        border: 1px solid #0BCEAF;
        background: white;
        color:#0BCEAF;
        border-radius: 30px;
        @media screen  and (max-width:850px){
            width: 100px;
            
        }

    }
}

// footer section 
.footer {
    height: 300px;
    background-color: #0BCEAF;
    background-size: cover;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
   
} 
.footer:hover {
    border: 5px solid gold;
}

.foo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
    @media screen  and (max-width:550px){
        flex-direction: column;
        padding-top: 50px
        
    }
    &__link {
        color: white;
        font-family: $font;
        font-size: 25px;
        text-decoration: underline;
        @media screen  and (max-width:1500px){
            font-size: 20px;
            
        }
        
        @media screen  and (max-width:950px){
            font-size: 15px;
            
        }
        @media screen  and (max-width:820px){
            font-size: 14px;
            
        }
        @media screen  and (max-width:770px){
            font-size: 15px;
            
        }
        @media screen  and (max-width:550px){
            font-size: 15px;
            
        }

    }
    &__link:hover {
        color: gold;
    }

}