$font : sans-serif;
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif
}
.head-section {
    width: 100%;
    height: 700px;
    background:url(../image/main.jpg);
    background-repeat: round;
    background-size: cover;
    animation-name: imge;
    animation-duration: 20s;
    animation-delay: 1s;
    animation-direction: normal;
 

}
@keyframes imge  {
    0% {background-image: url(../image/img_two.jpg)}
    25% {background-image: url(../image/img_three.jpeg)}
    50% {background-image: url(../image/im_four.png)}
    75% {background-image: url(../image/img_five.jpg)}
    100% {background-image: url(../image/img_six.jpg)}

}
.head-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 150px;
    @media screen and (max-width:1024px) {
        padding-top: 50px;
        gap: 30px

    }
    @media screen and (max-width:920px) {
       flex-direction: column;
       text-align: center;
       gap: 20px;


    }
    

}
.head-img {
    &__img  {
        border-radius: 50%;
        @media screen and (max-width:550px) {
            height: 200px;
        }
        @media screen and (max-width:420px) {
            height: 200px;
    
        } 

    }


    &__img:hover {
        box-shadow: 10px 10px 10px 10px gold;
        
    }
}
.text-head {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__few-text {
        color: white;
        font-size: 25px;
        font-family: $font;
        font-style: normal;

}
 &__fullname  {
     font-family: sans-serif;
     font-size: 70px;
     font-style: initial;
     color: white;
   
      @media screen and (max-width:550px) {
         font-size: 30px;
    }
     @media screen and (max-width:420px) {
        font-size: 30px
    }
 }
}
// button  head section 
.button-head {
    &__btn  {
        width: 200px;
        height: 50px;
        background: #0BCEAF;
        border:  1px solid white;
        border-radius: 50px;
    }
    &__btn:hover {
        background: white;
    }
    &__link {
        color: white;
        font-size: 17px;
        font-family: $font;

    }
     &__link:hover {
         color: black;
     }
}

// project 
.cotent-protofilo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 700px;
    
    @media screen  and (max-width:1500px) {
        height: 2000px;
        
    }
    @media screen and(max-width:1024px) {
        height: 2000px;
        
    }
    @media screen and (max-width:912px) {
     height: 2000px;

        
    }
    @media screen  and (max-width:800px){
     height: 1800px;
        
    }
    @media screen  and (max-width:550px){
        height: 1000px;
           
       }

   
}
.image-one {
    width: 400px;
    height: 250px;
    border : 5px solid #0BCEAF;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    box-shadow: 10px 10px 10px 10px gainsboro;
    @media screen  and (max-width:550px){
        width: 200px;
        height: 100px;
    }
   

}


.image-two {
    width: 400px;
    height: 250px;
    border : 5px solid #0BCEAF;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 10px 10px 10px 10px gainsboro;
    @media screen  and (max-width:550px){
        width: 200px;
        height: 100px;

    }
}
.imag-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media screen  and (max-width:1500px) {
        flex-direction: column;
        
    }
    @media screen  and (max-width:1024px) {
        flex-direction: column;
        
    }
    
   

}
.protofilo-title {
    &__title{
         font-size: 50px;
         font-family: $font;
          color: #0BCEAF;
          font-weight: bold;
          @media screen  and (max-width:1024px){
            font-size: 30px
            
        }
          
    }
}
// button section in protfilo section 
.btn-protfilo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__btn {
        width: 100px;
        height: 30px;
        background: white;
        border:1px solid #0BCEAF;
        border-radius: 20px;
        @media screen  and (max-width:1500px){
            width: 80px;
               
           }
        @media screen  and (max-width:420px){
            width: 80px
        }
        &__link {
            font-size: 12px;
            @media screen  and (max-width:1500px){
                font-size: 12px;
                   
               }
               @media screen  and (max-width:550px){
                font-size: 10px;
                   
               }
            @media screen  and (max-width:420px){
                font-size: 10px;
            }
        }
    }
    
    
}
// animation
.animation {
    height: 1000px;
    width: 100%;
    padding-top:100px;




}
.ani {
    background-image: url(../image/img_one.jpg);
    height: 800px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    animation-name: img;
    animation-duration: 4s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 5px gainsboro;
     border:  3px solid #0BCEAF;
    @media screen  and (max-width:1500px){
        width: 50%;
        height: 600px;

        
    }
    @media screen  and (max-width:550px){
        width: 80%;
        height: 400px;

        
    }
}
@keyframes img {
    0% {background-image: url(../image/img_two.jpg)}
    25% {background-image: url(../image/img_three.jpeg)}
    50% {background-image: url(../image/im_four.png)}
    75% {background-image: url(../image/img_five.jpg)}
    100% {background-image: url(../image/img_six.jpg)}


}